@import "variables";
@import "mixins";

.wrapper {
  width: 970px;
  padding: 0 15px;
}

.top-bar {
  background-color: black;
  width: 100%;
  height: 69px;
  position: fixed;
  top: 0;
}

.top-nav {
  margin-left: 0;
}

.header-bar {
  background-image: url("../img/HT_ban_bg.jpg");
  background-color: teal;
  margin-top: 69px;
  width: 100%;
  height: 155px;
}
