@import "variables";
@import "mixins";

@font-face {
  font-family: workGodDamnit;
  src: url("../fonts/metropolis/Metropolis-Thin.otf");
}

body {
  font-family: workGodDamnit;
}

// Style rules to contain content within fixed width, the top nav bar, main content and footer will all be contained in a wrapper div
.wrapper {
  width: $wrapper-width-lg;
  padding: 0 15px;
  margin: 0 auto;
}

// Top navigation bar

.top-bar {
  background-color: black;
  width: 100%;
  height: 69px;
  position: fixed;
  top: 0;
}

.top-nav {
  @include flexbox(row, flex-start, center);
  width: $wrapper-width-lg;
  height: 69px;
  margin-left: 0;
  a {
    @include plain-links(18px);
    &:hover {
      color: #b8cacb;
    }
  }
}

.nav-item {
  @include flexbox(column, center, center);
  padding: 15px;
  position: relative;
}

.drop-nav {
  @include flexbox(column, flex-start, center);
  display: none;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 63px;
  width: auto;
}

.drop-nav-item {
  width: 200px;
  background-color: white;
  padding: 10px 20px;
  border: 1px solid #231f20;
  a {
    @include grey-links(16px);
  }
  &:hover {
    background-color: darken(white, 10%);
    a {
      color: #759697;
    }
  }
}

.shop-row {
  @include flexbox(row-reverse, flex-end, center);
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  height: 100%;
}

.shop-box {
  @include flexbox(column, center, center);
  color: white;
  padding: 20px;
  height: 100%;
  a {
    @include alt-links(18px);
  }
}

#donate {
  background-color: #9b200d;
  a {
    @include plain-links (18px);
  }
}

// Logo header

.header-bar {
  background-image: url("../img/HT_ban_bg.jpg");
  background-color: teal;
  margin-top: 69px;
  width: 100%;
  height: 155px;
  @include flexbox(row, center, center);
  img {
    width: 400px;
    height: auto;
  }
}

// Main content

#main-page-wrapper {
  margin-top: 20px;
}

.body-flexbox {
  @include flexbox(column, center, center);
}

.schedule-toggle-panel {
  @include flexbox(row, space-between, center);
  background-color: black;
  height: 88px;
  width: 100%;
  border-bottom: 10px solid black;
}

.schedule-toggle-box {
  @include flexbox(row, center, center);
  width: 50%;
  margin: 10px;
  a {
    @include plain-links(48px);
  }
}

#active-box {
  background-color: white;
  a {
    color: black;
  }
}

.movie-boxes-container {
  @include flexbox(row, space-between, center);
  flex-wrap: wrap;
  width: 100%;
  padding-top: 15px;
}

.movie-box {
  @include flexbox(column, flex-start, center);
  height: 435px;
  width: (95% / 3);
  background-color: black;
  color: white;
}

.title-box {
  @include flexbox(column, center, center);
  height: 100px;
  width: 100%;
  padding: 10px;
  a {
    @include plain-links(24px);
  }
}
.img-box {
  height: 200px;
  width: 100%;
  overflow: hidden;
  img {
    width: 100%;
    height: 200px;
  }
}
.showtime-box {
  @include flexbox(column, space-around, center);
  height: 135px;
  width: 100%;
}

.date-bar {
  @include flexbox(row, space-between, center);
  width: 60%;
  font-size: 18px;
}

.showtimes-bar {
  @include flexbox(row, center, center);
}

.showtime-button {
  @include flexbox(column, center, center);
  width: 80px;
  height: 26px;
  background-color: white;
  padding: 3px 0;
  margin: 2px;
  border: 2px solid #cf815d;
  a {
    @include alt-links(12px);
  }
}

.all-showtimes {
  @include flexbox(row, center, center);
  a {
    @include alt-links(18px);
  }
}

#the-bronx-warriors {
  position: relative;
}

.program-ribbon {
  position: absolute;
  top: -12px;
  left: 20px;
  background-color: #cf815d;
  padding: 3px 6px;
  a {
    @include plain-links(14px);
  }
}

.slideshow {
  @include flexbox(row, space-between, center);
  height: 300px;
  width: 100%;
  background-color: black;
  margin-top: 50px;
  color: white;
}

.arrow {
  @include flexbox(column, center, center);
  background-color: #759697;
  width: 50px;
  height: 100%;
  a {
    @include plain-links(36px);
  }
}

.slideshow-content-panel {
  @include flexbox(row, center, center);
  width: 1040px;
  height: 100%;
  background-color: #231f20;
}

.slideshow-content-subpanel {
  @include flexbox(column, center, flex-start);
  width: 520px;
  height: 100%;
  overflow: hidden;
  padding: 10px 20px;
  h1 {
    color: #debb91;
    font-size: 24px;
  }
  p {
    font-size: 16px;
  }
  a {
    @include alt-links(14px);
  }
}

.info-boxes-row {
  @include flexbox(row, space-between, center);
  flex-wrap: wrap;
  margin: 20px 30px 60px 30px;
  width: 90%;
}

.info-box {
  @include flexbox(column, space-between, center);
  align-content: space-between;
  height: 260px;
  width: 260px;
  background-color: black;
  .info-box-img {
    height: 260px;
    width: 260px;
    overflow: hidden;
  }
  .info-box-link {
    @include flexbox(row, center, center);
    height: 80px;
    width: 260px;
  }
  img {
    height: auto;
    width: 100%;
  }
  a {
    @include plain-links(36px);
  }
}

// Page footer

.bottom-bar {
  background-color: #231f20;
  color: white;
  hr {
    border-color: white;
    width: 100%;
    margin: 1px;
  }
  a {
    @include alt-links(14px);
  }
  h1 {
    font-size: 14px;
    color: #b4b4b4;
  }
  ul {
    list-style-type: none;
  }
}

.bottom-flexbox {
  @include flexbox(column, flex-start, center);
  width: 100%;
}

.bottom-row {
  @include flexbox(row, space-between, flex-start);
  width: 100%;
}

.bottom-header {
  height: 150px;
  width: 100%;
}

#address-box {
  @include flexbox(column, flex-end, center);
  height: 100%;
  p {
    margin: 0;
  }
}

.list-row {
  margin-top: 20px;
}

.list-box {
  margin: 10px;
}
