@import "variables";
@import "mixins";

// Style rules to contain content within fixed width, the top nav bar, main content and footer will all be contained in a wrapper div
.wrapper {
  width: $wrapper-width-lg;
  padding: 0 15px;
  margin: 0 auto;
}

// Top navigation top-bar

.top-bar {
  background-color: black;
  width: 100%;
  height: 69px;
  position: fixed;
  top: 0;
}

.top-nav {
  margin-left: 0;
}

// Logo header

.header-bar {
  background-image: url("../img/HT_ban_bg.jpg");
  background-color: teal;
  margin-top: 69px;
  width: 100%;
  height: 155px;
  @include flexbox(row, center, center);
  img {
    width: 400px;
    height: auto;
  }
}

// Main content

#main-page-wrapper {
  margin-top: 20px;
}

.body-flexbox {
  @include flexbox(column, center, center);
}

.schedule-toggle-panel {
  @include flexbox(row, space-between, center);
  background-color: black;
  height: 88px;
  width: 100%;
  border-bottom: 10px solid black;
}

.schedule-toggle-box {
  @include flexbox(row, center, center);
  width: 50%;
  margin: 10px;
  a {
    @include plain-links(48px);
  }
}

#active-box {
  background-color: white;
  a {
    color: black;
  }
}

.movie-boxes-container {
  @include flexbox(row, space-between, center);
  flex-wrap: wrap;
  width: 100%;
  padding-top: 15px;
}

.movie-box {
  height: 435px;
  width: (95% / 3);
  background-color: black;
  color: white;
  img {
    width: 100%;
    height: 200px;
  }
}

.slideshow {
  @include flexbox(row, space-between, center);
  height: 300px;
  width: 100%;
  background-color: black;
  margin-top: 50px;
  color: white;
}

.arrow {
  @include flexbox(column, center, center);
  background-color: #759697;
  width: 50px;
  height: 100%;
  a {
    @include plain-links(36px);
  }
}

.info-boxes-row {
  @include flexbox(row, space-between, center);
  margin: 20px 30px;
  width: 90%;
}

.info-box {
  @include flexbox(column, space-between, center);
  align-content: space-between;
  height: 260px;
  width: 260px;
  background-color: black;
  .info-box-img {
    height: 260px;
    width: 260px;
    overflow: hidden;
  }
  .info-box-link {
    @include flexbox(row, center, center);
    height: 80px;
    width: 260px;
  }
  img {
    height: auto;
    width: 100%;
  }
  a {
    @include plain-links(36px);
  }
}
