@mixin flexbox($dir, $mainaxis, $crossaxis) {
  display: flex;
  flex-direction: $dir;
  justify-content: $mainaxis;
  align-items: $crossaxis;
}

@mixin plain-links($font-size) {
  font-size: $font-size;
  color: white;
  &:hover {
    text-decoration: none;
  }
}
